In [1]:
%pip install tqdm loguru python-dotenv typer

Requirement already satisfied: tqdm in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (4.67.0)
Requirement already satisfied: loguru in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (0.7.2)
Requirement already satisfied: python-dotenv in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (1.0.1)
Requirement already satisfied: typer in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (0.13.0)
Requirement already satisfied: click>=8.0.0 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from typer) (8.1.7)
Requirement already satisfied: shellingham>=1.3.0 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from typer) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from typer) (13.9.4)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from typer) (4.12.2)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from rich>=10.11.0->typer) (2.18.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from rich>=10.11.0->typer) (3.0.0)
Requirement already satisfied: mdurl~=0.1 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%load_ext autoreload
%autoreload 2

In [2]:
import yfinance as yf # https://aroussi.com/post/python-yahoo-finance
from pathlib import Path

In [3]:
CONFIG = {
    "indices": [
        "000300.SS", # CSI_300
        "^NSEI", # Nifty_50
        "^HSI" , # Hang Seng index
        "^N225", # Nikkei_225
        "^GSPC", # S&P500
        "DJIA",
    ],
}

DATA_PATH = Path("data")
INITIAL_DATA_PATH = DATA_PATH/"raw"
FINAL_DATA_PATH = DATA_PATH/"processed"

In [9]:
CONFIG = {
    "indices": [
        "^GSPC", # S&P500
    ],
}

DATA_PATH = Path("data")
INITIAL_DATA_PATH = DATA_PATH/"raw"
FINAL_DATA_PATH = DATA_PATH/"processed"

In [10]:
data = yf.download(" ".join(CONFIG["indices"]), start="2010-01-01", end="2024-01-31", group_by="ticker", auto_adjust=True, repair=True)
data.to_pickle("raw.pkl")

[*********************100%***********************]  1 of 1 completed

In [2]:
import yfinance as yf # https://aroussi.com/post/python-yahoo-finance

msft = yf.Ticker("MSFT")

hist = msft.history(start="2010-01-01", end="2023-12-31")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,23.098379,23.460470,23.075748,23.347317,38409100,0.0,0.0
2010-01-05 00:00:00-05:00,23.271890,23.460479,23.113474,23.354868,49749600,0.0,0.0
2010-01-06 00:00:00-05:00,23.294517,23.445388,23.022949,23.211538,58182400,0.0,0.0
2010-01-07 00:00:00-05:00,23.105931,23.158737,22.774015,22.970148,50559700,0.0,0.0
2010-01-08 00:00:00-05:00,22.841901,23.294513,22.811726,23.128555,51197400,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,371.648813,373.140659,370.684084,372.543915,17091100,0.0,0.0
2023-12-26 00:00:00-05:00,372.961653,374.891110,371.469806,372.623505,12673100,0.0,0.0
2023-12-27 00:00:00-05:00,371.658773,373.021322,370.783552,372.036713,14905400,0.0,0.0
2023-12-28 00:00:00-05:00,373.329619,374.413691,372.126205,373.240112,14327000,0.0,0.0
2023-12-29 00:00:00-05:00,373.956181,375.109879,371.449889,373.995972,18723000,0.0,0.0