In [1]:
%pip install tqdm loguru python-dotenv typer

Requirement already satisfied: tqdm in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (4.67.0)
Requirement already satisfied: loguru in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (0.7.2)
Requirement already satisfied: python-dotenv in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (1.0.1)
Requirement already satisfied: typer in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (0.13.0)
Requirement already satisfied: click>=8.0.0 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from typer) (8.1.7)
Requirement already satisfied: shellingham>=1.3.0 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from typer) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from typer) (13.9.4)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from typer) (4.12.2)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from rich>=10.11.0->typer) (2.18.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from rich>=10.11.0->typer) (3.0.0)
Requirement already satisfied: mdurl~=0.1 in /home/psuper/Documents/Escola/Universidade/3º Ano/1_sem/lab_ia/trab2/.venv/lib/python3.10/site-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
import yfinance as yf # https://aroussi.com/post/python-yahoo-finance
from pathlib import Path

In [ ]:
CONFIG = {
    "indices": [
        "000300.SS", # CSI_300
        "^NSEI", # Nifty_50
        "^HSI" , # Hang Seng index
        "^N225", # Nikkei_225
        "^GSPC", # S&P500
        "DJIA",
    ],
}

DATA_PATH = Path("data")
INITIAL_DATA_PATH = DATA_PATH/"raw"
FINAL_DATA_PATH = DATA_PATH/"processed"

In [ ]:
data = yf.download(" ".join(CONFIG["indices"]), start="2010-01-01", end="2024-01-31", group_by="ticker", auto_adjust=True, repair=True)
data.to_csv()

[*********************100%***********************]  6 of 6 completed

Ticker                       000300.SS                                         \
Price                             Open         High          Low        Close
Date
2010-01-04 00:00:00+00:00          NaN          NaN          NaN          NaN
2010-01-05 00:00:00+00:00          NaN          NaN          NaN          NaN
2010-01-06 00:00:00+00:00          NaN          NaN          NaN          NaN
2010-01-07 00:00:00+00:00          NaN          NaN          NaN          NaN
2010-01-08 00:00:00+00:00          NaN          NaN          NaN          NaN
...                                ...          ...          ...          ...
2024-01-24 00:00:00+00:00  3245.959961  3281.489990  3190.469971  3277.110107
2024-01-25 00:00:00+00:00  3274.340088  3344.239990  3269.790039  3342.919922
2024-01-26 00:00:00+00:00  3326.649902  3351.969971  3315.129883  3333.820068
2024-01-29 00:00:00+00:00  3335.389893  3351.370117  3303.959961  3303.959961
2024-01-30 00:00:00+00:00  3283.899902  3300.199951  3244.969971  3245.040039

Ticker                                              DJIA             \
Price                        Volume Repaired?       Open       High
Date
2010-01-04 00:00:00+00:00       NaN       NaN        NaN        NaN
2010-01-05 00:00:00+00:00       NaN       NaN        NaN        NaN
2010-01-06 00:00:00+00:00       NaN       NaN        NaN        NaN
2010-01-07 00:00:00+00:00       NaN       NaN        NaN        NaN
2010-01-08 00:00:00+00:00       NaN       NaN        NaN        NaN
...                             ...       ...        ...        ...
2024-01-24 00:00:00+00:00  154400.0     False  20.865060  21.035697
2024-01-25 00:00:00+00:00  196800.0     False  21.035693  21.035693
2024-01-26 00:00:00+00:00  180700.0     False  21.035695  21.064133
2024-01-29 00:00:00+00:00  184200.0     False  21.026214  21.045174
2024-01-30 00:00:00+00:00  143600.0     False  20.912456  21.092573

Ticker                                           ...          ^HSI  \
Price                            Low      Close  ...           Low
Date                                             ...
2010-01-04 00:00:00+00:00        NaN        NaN  ...  21689.220703
2010-01-05 00:00:00+00:00        NaN        NaN  ...  21987.269531
2010-01-06 00:00:00+00:00        NaN        NaN  ...  22277.130859
2010-01-07 00:00:00+00:00        NaN        NaN  ...  22169.609375
2010-01-08 00:00:00+00:00        NaN        NaN  ...  22206.160156
...                              ...        ...  ...           ...
2024-01-24 00:00:00+00:00  20.865060  21.026217  ...  15412.099609
2024-01-25 00:00:00+00:00  20.912454  20.981657  ...  15828.929688
2024-01-26 00:00:00+00:00  20.950377  20.950377  ...  15888.040039
2024-01-29 00:00:00+00:00  20.959856  21.035694  ...  16012.589844
2024-01-30 00:00:00+00:00  20.912456  20.997774  ...  15654.969727

Ticker                                                                  ^NSEI  \
Price                             Close        Volume Repaired?          Open
Date
2010-01-04 00:00:00+00:00  21823.279297  1.006200e+09     False   5200.899902
2010-01-05 00:00:00+00:00  22279.580078  1.965585e+09     False   5277.149902
2010-01-06 00:00:00+00:00  22416.669922  2.100234e+09     False   5278.149902
2010-01-07 00:00:00+00:00  22269.449219  1.495365e+09     False   5281.799805
2010-01-08 00:00:00+00:00  22296.750000  1.626023e+09     False   5264.250000
...                                 ...           ...       ...           ...
2024-01-24 00:00:00+00:00  15899.870117  3.597684e+09     False  21185.250000
2024-01-25 00:00:00+00:00  16211.959961  4.096405e+09     False  21454.599609
2024-01-26 00:00:00+00:00  15952.230469  3.314022e+09     False           NaN
2024-01-29 00:00:00+00:00  16077.240234  2.923199e+09     False  21433.099609
2024-01-30 00:00:00+00:00  15703.450195  2.565524e+09     False  21775.750000

Ticker                                                                         \
Price                              High           Low         Close    Volume
Date
2010-01-04 00:00:00+00:00   5238.450195   5167.100098   5232.200195       0.0
2010-01-05 00:00:00+00:00   5288.350098   5242.399902   5277.899902       0.0
2010-01-06 00:00:00+00:00   5310.850098   5260.049805   5281.799805       0.0
2010-01-07 00:00:00+00:00   5302.549805   5244.750000   5263.100098       0.0
2010-01-08 00:00:00+00:00   5276.750000   5234.700195   5244.750000       0.0
...                                 ...           ...           ...       ...
2024-01-24 00:00:00+00:00  21482.349609  21137.199219  21453.949219  407500.0
2024-01-25 00:00:00+00:00  21459.000000  21247.050781  21352.599609  418100.0
2024-01-26 00:00:00+00:00           NaN           NaN           NaN       NaN
2024-01-29 00:00:00+00:00  21763.250000  21429.599609  21737.599609  376700.0
2024-01-30 00:00:00+00:00  21813.050781  21501.800781  21522.099609  375100.0

Ticker
Price                     Repaired?
Date
2010-01-04 00:00:00+00:00     False
2010-01-05 00:00:00+00:00     False
2010-01-06 00:00:00+00:00     False
2010-01-07 00:00:00+00:00     False
2010-01-08 00:00:00+00:00     False
...                             ...
2024-01-24 00:00:00+00:00     False
2024-01-25 00:00:00+00:00     False
2024-01-26 00:00:00+00:00       NaN
2024-01-29 00:00:00+00:00     False
2024-01-30 00:00:00+00:00     False

[3665 rows x 36 columns]

In [2]:
import yfinance as yf # https://aroussi.com/post/python-yahoo-finance

msft = yf.Ticker("MSFT")

hist = msft.history(start="2010-01-01", end="2023-12-31")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,23.098379,23.460470,23.075748,23.347317,38409100,0.0,0.0
2010-01-05 00:00:00-05:00,23.271890,23.460479,23.113474,23.354868,49749600,0.0,0.0
2010-01-06 00:00:00-05:00,23.294517,23.445388,23.022949,23.211538,58182400,0.0,0.0
2010-01-07 00:00:00-05:00,23.105931,23.158737,22.774015,22.970148,50559700,0.0,0.0
2010-01-08 00:00:00-05:00,22.841901,23.294513,22.811726,23.128555,51197400,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,371.648813,373.140659,370.684084,372.543915,17091100,0.0,0.0
2023-12-26 00:00:00-05:00,372.961653,374.891110,371.469806,372.623505,12673100,0.0,0.0
2023-12-27 00:00:00-05:00,371.658773,373.021322,370.783552,372.036713,14905400,0.0,0.0
2023-12-28 00:00:00-05:00,373.329619,374.413691,372.126205,373.240112,14327000,0.0,0.0
2023-12-29 00:00:00-05:00,373.956181,375.109879,371.449889,373.995972,18723000,0.0,0.0